{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block head %}
	<script src={% static 'homepage/javascripts/blurTransition.js' %}></script>
{% endblock %}

{% block body %}
	<div id='cover-container'>
		<div id='cover' class='fullscreen .container-fluid'>
			<div id='cover-content' class='vcenter'>
				<div class='row'>
					<div class='col-md-3'></div>
					<h2 class='col-md-9'>Brendan Le</h1>
				</div>
				<div class='row'>
					<hr/>
				</div>
				<div class='row'>
					<div class='col-md-4'></div>
					<h1 class='col-md-8'>PERSONAL WEBSITE</h1>
				</div>
				<div class='row'>
					<div class='col-md-4'></div>
					<div class='extra col-md-8'>front-end & back-end</div>
				</div>
	
				<div id='main-body'>
					<div class='section'></div>
				</div>
			</div>
		</div>
		<div id='backgrounds'>
			<div id='b1' class='fullscreen background'></div>
			<div id='b2' class='fullscreen background'></div>
			<div id='b3' class='fullscreen background'></div>
		</div>

		<div id='content'>
			<div id='about' class='layer'>
				<div class='layer-content'>
					<div class='row'>
						<h1>About Me</h1>	
					</div>
					<div class='row'>
						<div class='col-md-4'></div>
						<p class='col-md-4'>
							I am currently a Junior in highschool with a passion in web development.
							I use Django/Python for back-end and I am familiar with a range of front-end
							tools including&nbsp Jquery, SASS, and Bootstrap
						</p>
						<div class='col-md-4'></div>
					</div>
				</div>
			</div>
			<div class='layer'>
				<div class='layer-content'>
					<h1>Personal Projects</h1>
				</div>
			</div>
			<div class='layer'>
				<div class='layer-content'>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
